# dependencies
/node_modules

# next.js
/.next/

# electron
/dist-electron

# misc
.DS_Store
*.pem

# local sqlite database
*.db
*.db-journal

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env.local
.env.*.local

# typescript
*.tsbuildinfo
next-env.d.ts
